<!DOCTYPE html>

<html>
<head>
	<title>Norwegisch-Deutsch-Vokabeltrainer</title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="float1">
	<img src="/static/ford.jpg"/>
</div>
<div>
	
</div>
<div  class="float2">
	<h2>Norwegisch-Deutsch-Vokabeltrainer</h2>
	<form action="vokabeltest" method="post">
		{% csrf_token %}
		<div>
			{% for i in kapitelnummern %}
				<input type="checkbox" name="Kapitel {{i}}"/>
				Kapitel: {{i}} <br/>
			{% endfor %}
			</p>
			<fieldset class="feld">
				<legend>Übersetzung</legend>
				<input type="radio" id="norw_deu" name="uebersetzung" value="norw_deu" checked>
					Norwegisch-Deutsch</br>
				</input>
				<input type="radio" id="deu_norw" name="uebersetzung" value="deu_norw">
					Deutsch-Norwegisch
				</input>
			</fieldset>
			</p>
			<input class='but' type="submit" value="senden"/>
		</div>
	</form>
	<div>
		{{abschlussmeldung}}
	</div>
</div>
</body>
</html>