<!DOCTYPE html>

<html>
<head>
	<title>Norwegisch-Deutsch-Vokabeltrainer</title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="float1">
	<img src="/static/ford.jpg"/>
</div>
<div>
	
</div>
<div class="float2">
	<h4>Norwegisch-Deutsch-Vokabeltrainer</h4>
	<form action="vokabeltest" method="post">
		{% csrf_token %}
		{% for i in kapitelnummern %}
			<input type="checkbox" name="Kapitel {{i}}"/>
			Kapitel: {{i}} <br/>
		{% endfor %}
		<input class='but' type="submit" value="senden"/>
	</form>
	<div>
		{{abschlussmeldung}}
	</div>
</div>
</body>
</html>