<!DOCTYPE html>

<html>
<head>
	<title>Norwegisch-Deutsch-Vokabeltrainer</title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="float1">
	<img src="/static/ford.jpg"/>
</div>
<div>
	
</div>
<div  class="float2">
	<h2>Norwegisch-Deutsch-Vokabeltrainer</h2>
	<form action="vokabeltest" id="die_form" method="post">
		{% csrf_token %}
		<div>
			{% for i in kapitelnummern %}
				<input type="checkbox" name="Kapitel {{i}}"/>
				Kapitel: {{i}} <br/>
			{% endfor %}
			</p>
			<fieldset class="feld">
				<legend>Übersetzung</legend>
				<input type="radio" id="norw_deu" name="uebersetzung" value="norw_deu" checked>
					Norwegisch-Deutsch</br>
				</input>
				<input type="radio" id="deu_norw" name="uebersetzung" value="deu_norw">
					Deutsch-Norwegisch
				</input>
			</fieldset>
			</p>
		</div>
	</form>
	<input class='but' type="submit" value="senden" onclick='auswahl_pruefen()'/>
	<div>
		{{abschlussmeldung}}
	</div>
</div>
<script>
	function auswahl_pruefen() {
		ausgewaehlt = false;
		die_inputs = document.getElementsByTagName('input');
		for (var i = 0; i < die_inputs.length; i++) {
			if (die_inputs[i].type === 'checkbox') {
				if(die_inputs[i].checked){
					ausgewaehlt = true;
					break;
				}
			}
		}
		
		if (ausgewaehlt) {
			document.getElementById('die_form').submit();
		}
		else {
			alert('Sie haben kein Kapitel ausgewählt');
		}
	}
</script>
</body>
</html>