<!doctype html>
<html>
<head>
	<title>Norwegisch-Deutsch-Vokabeltrainer</title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
	<div class="mittig"> 
		<div id='uebersetzen_sie'>Übersetzen Sie: {{wort1}}</div>
		<div id='antwort'>Antwort</div>
		<div>
			{% if uebersetzung == 'deu_norw' %}
				<input type='button' id='norw_AE' value='&AElig;' onclick='norw_zeichen(this)'/>
				<input type='button' id='norw_OE' value='&Oslash;'onclick='norw_zeichen(this)'/>
				<input type='button' id='norw_AO' value='&Aring;' onclick='norw_zeichen(this)'/>
			{% endif %}
			<input class="but" type='text' id='antworteingabe' maxlength='100' autocomplete='off'/>
			{% if uebersetzung == 'deu_norw' %}
				<input type='button' id='norw_ae' value='&aelig;' onclick='norw_zeichen(this)'/>
				<input type='button' id='norw_oe' value='&oslash;' onclick='norw_zeichen(this)'/>
				<input type='button' id='norw_ao' value='&aring;' onclick='norw_zeichen(this)'/>
			{% endif %}
			<br/>
			
			<form action='' method='post' id='die_form'>
				{% csrf_token %}
				<input type='hidden' id='ende' name='ende' value='nein'/>
				<input type='hidden' id='alle' name='alle' value='nein'/>
				<input type='hidden' id='richtige_antworten' name='richtige_antworten' value='{{richtige_antworten}}'/>
				<input type='hidden' id='anzahl_der_ausgangsvokabeln' value='{{anzahl_der_ausgangsvokabeln}}'/>
				<input class="but" type='button' id='button1' value='Kontrolle' onclick='eingabe_kontrolle()'/>
			</form>
		</div>
		<div id='meldung'> </br>  </br></div>
		<input type='hidden' id='versteckt' name='versteckt' value='{{wort2}}'/>
		<input type='hidden' id='anzahl_vokabeln' value='{{anzahl_vokabeln}}'/>
		
		<img src='/static/ford.jpg'/>
		<div>
			Norwegisch-Deutsch-Vokabeltrainer
		</div>
		<div>
			<button onclick="window.location='/';">Zur Startseite</button>
		</div>
	</div>
	<script>
		var anzahl_vokabeln = document.getElementById('anzahl_vokabeln').value;
		var die_form = document.getElementById('die_form');
		var richtige_antworten = document.getElementById('richtige_antworten').value;
		var anzahl_der_ausgangsvokabeln = document.getElementById('anzahl_der_ausgangsvokabeln').value;
		var loesung = document.getElementById('versteckt').value.trim();
		var antworteingabe = document.getElementById('antworteingabe');
		antworteingabe.focus();
		antworteingabe.addEventListener('keydown', returntaste);
		
		function eingabe_kontrolle() {
			var eingegebene_vokabel = document.getElementById('antworteingabe').value.trim();
			
			if (eingegebene_vokabel == loesung) { 
					document.getElementById('richtige_antworten').value = parseInt(richtige_antworten) + 1;
					document.getElementById('meldung').innerHTML = "Richtig! Es ist " + loesung + ".</br>" +
																	"Sie haben " + 
																	document.getElementById('richtige_antworten').value + 
																	" von " + document.getElementById('anzahl_der_ausgangsvokabeln').value + " richtig.";
			}
			else {
				document.getElementById('meldung').innerHTML = "Falsch! Richtig ist " + loesung + ".</br>" +
																"Sie haben " + 
																	document.getElementById('richtige_antworten').value + 
																	" von " + document.getElementById('anzahl_der_ausgangsvokabeln').value + " richtig.";
			}
			
			
			die_form.action = 'vokabeltest';
			document.getElementById('button1').value = 'Nächste Vokabel';
			document.getElementById('button1').onclick = naechste_vokabel;
		}
		
		function naechste_vokabel() {
			if (anzahl_vokabeln > 0) {
				die_form.submit();
			}
			else {
				die_form.action = '/';
				document.getElementById('ende').value = 'ja'
				document.getElementById('alle').value = document.getElementById('anzahl_der_ausgangsvokabeln').value
				die_form.submit();
			}
		}
		
		function returntaste(event) {
			// Wenn return gedrueckt wurde, Eingabe kontrollieren
			if (event.keyCode == 13) {
				eingabe_kontrolle();
			}
		}
		
		function norw_zeichen(norw_but) {
			antworteingabe.value = antworteingabe.value + norw_but.value;
			antworteingabe.focus();
		}
	</script>
</body>
</html>